
.resend {
  color: red;
  margin-top: 10px;
}  
/* ===== Overlay ===== */
.buyer-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* ===== Modal ===== */
.buyer-modal {
  width: 600px;
  height: 350px;
  background: #000;
  border-radius: 12px;
  display: flex;
  position: relative;
  overflow: hidden;
  
  /*font-family: Arial, sans-serif;*/
}

/* ===== Close Button ===== */

.close-btn {
  position: absolute;
  top: 14px;
  right: 18px;
  font-size: 22px;
  color: hsl(0, 23%, 97%); 
  background:none;
  border: none;
  cursor: pointer;
}

/* ===== Left Section ===== */
.buyer-left {
  width: 28%;
  background: #f7f7f7;
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buyer-left h4 {
  margin-bottom: 18px;
  font-size: 15px;
  font-weight: 600;
}

/* Features */
.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  color: #333;
}

.feature-item img {
  width: 24px;
  height: 24px;
}
/* Bottom section STICK */
.left-bottom {
  margin-top: auto;
}

/* Divider line */
.left-divider {
  height: 1px;
  background: #ddd;
  margin: 16px 0 10px;
}

.find-us {
  font-size: 12px;
  color: #666;
}

.store-icons {
  display: flex;
  gap: 10px;
  margin-top: 6px;
}

.store-icons img {
  height: 34px;
}
/* ================= RIGHT PANEL ================= */
.buyer-right {
  width: 58%;
  padding: 42px 58px;
  color: #fff;
  
  
}

.buyer-right h2 {
  font-size: 22px;
  margin-bottom: 6px;
}

.buyer-right p {
  font-size: 14px;
  color: #ccc;
  
}

/* Input */
.buyer-input {
  width: 90%;
  padding: 14px;
  margin-top: 14px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
}

/* Button */
.continue-btn {
  margin-top: 18px;
  width: 100%;
  background: #d11212;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 4px;
  font-weight: 400;
  cursor: pointer;
}

/* Terms */
.terms {
  margin-top: 14px;
  font-size: 11px;
  color: #aaa;
  line-height: 1.5;
}

/* OTP */
.otp-box {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.otp-box input {
  width: 40px;
  height: 42px;
  text-align: center;
  font-size: 18px;
  border-radius: 4px;
  border: none;
}