
.fv-container {
  padding: 20px;
}

.fv-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.fv-card {
  background: #fff;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.fv-card img {
  width: 100%;
  height: 140px;
  object-fit: contain;
}

.fv-card span {
  color: red;
  font-weight: bold;
}
.fv-main{
   margin: 20px auto;
  padding: 15px;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-family: 'Arial', sans-serif;
}